html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    margin-top: 0;
    padding: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

header {
    height: 40px;
    padding: 0 18%;
    color: darkgrey;
}

header > div, header > nav{
    padding-top: 10px;
}

header a:hover, header button.asText:hover{
    color: darkslategrey;
    font-weight: bold;
}

li.active{
    color: darkslategrey;
    font-weight: bold;
}

footer {
    color: darkgrey;
    height: 40px;
    padding: 0 18%;
}

footer a:hover {
    color: darkslategrey;
    font-weight: bold;
}

footer nav{
    float: right;
}

footer > div, footer > nav{
    padding-top: 10px;
}

#copyright{
    float: left;
}

nav li{
    display: inline-block;
    margin-left: 10px;
}

nav a{
    text-decoration: none;
}

li a{
    text-decoration: none;
    color: inherit;
}

#logo {
    float: left;
}

.bg-light{
    background-color: rgb(248,249,250);
}

.fw-bold{
    font-weight: bold;
}

.white-spaces-pre {
    white-space: pre;
}

.hidden {
    display: none;
}

.pt-1{
    padding-top: 1em;
}

.container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
}

 .row .col-12{
     width: 100%;
 }

 .row>.col-1{
     width: calc(100%/12*1);
     float: left;
 }

 .row>.col-2{
     width: calc(100%/12*2);
     float: left;
 }

 .row>.col-3{
     width: calc(100%/12*3);
     float: left;
 }

 .row>.col-4{
     width: calc(100%/12*4);
     float: left;
 }

 .row>.col-5{
     width: calc(100%/12*5);
     float: left;
 }

 .row>.col-6{
     width: calc(100%/12*6);
     float: left;
 }

 .row>.col-7{
     width: calc(100%/12*7);
     float: left;
 }

 .row>.col-8{
     width: calc(100%/12*8);
     float: left;
 }

 .row>.col-9{
     width: calc(100%/12*9);
     float: left;
 }

 .row>.col-10{
     width: calc(100%/12*10);
     float: left;
 }

 .row>.col-11{
     width: calc(100%/12*11);
     float: left;
 }

 .row>.col-12{
     width: calc(100%/12*12);
     float: left;
 }


 .row .offset-1{
     padding-left: calc(100%/12*1);
 }

 .row .offset-2{
     padding-left: calc(100%/12*2);
 }

 .row .offset-3{
     padding-left: calc(100%/12*3);
 }

 .row .offset-4{
     padding-left: calc(100%/12*4);
 }

 .row .offset-5{
     padding-left: calc(100%/12*5);
 }

 .row .offset-6{
     padding-left: calc(100%/12*6);
 }

 .row .offset-7{
     padding-left: calc(100%/12*7);
 }

 .row .offset-8{
     padding-left: calc(100%/12*8);
 }

 .row .offset-9{
     padding-left: calc(100%/12*9);
 }

 .row .offset-10{
     padding-left: calc(100%/12*10);
 }

 .row .offset-11{
     padding-left: calc(100%/12*11);
 }

 .row .offset-12{
     padding-left: calc(100%/12*12);
 }

 .form-label {
     width: 70px;
     display: inline-block;
     margin: 10px 10px 10px 0;
 }

 .form-title {
     display: inline-block;
     margin: 10px 10px 10px 0;
 }

 .error-msg{
     font-weight: bold;
     color: red;
 }

 .clearfix:before {
     clear: both;
     content: '';
 }

 .form-control{
     border-radius: 2px;
     border: 1px solid lightgray;
     margin-left: 10px;
 }

 .form-control:focus-visible{
     border-radius: 2px;
     border: 2px solid darkslategrey;
     outline: 0;
 }

 .profile-menu{
     float: right;
 }

 .profile-menu > a {
     font-weight: bold;
     color: darkslategrey;
 }

 .dropdown-toggle{
     padding-right: 1em;
 }

 .dropdown-menu{
     visibility: hidden;
     transition-delay: 1s;
     transition-property: visibility;
     margin-top: 14px;
     background-color: white;
     border-radius: 1px;
     outline: auto;
     width: 7em;
     position: fixed;
     z-index: 2;
     height: 30px;
 }

 .profile-menu:hover .dropdown-menu, .dropdown-menu:hover{
     visibility: visible;
     transition-delay: 0s;
 }

 .dropdown-menu div{
     display: block;
     padding: 1em;
     background-color: inherit;
 }

 .dropdown-menu div:hover{
     background-color: rgb(248,249,250);
     text-decoration: underline;
 }

button.asText {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;

    color: inherit;
    font-size: inherit;
    text-decoration: underline;
}

 textarea {
     width: 95%;
     min-height: 10em;
 }

 .card{
     background-color: white;
     border: 1px solid;
     -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
     border-radius: 1px;
     padding: 10px;
 }

 .card a{
     color: blue;
     text-decoration: underline;
 }

 .section-body{
     min-height: 90vh;
     padding: 0 14%;
     background-clip: content-box;
 }

 #toTopBtn {
     display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    top: 0px; /* Place the button at the bottom of the page */
    left: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#toTopBtn:hover {
    background-color: rgb(85 85 85 / 25%); /* Add a dark-grey background on hover */
}

img.avatar {
    max-width: 100px;
    margin-left: -10px;
}

.loaderBody {
    height: 88vh;
}

/*#text-color-select {
    height: auto;
}*/

.mt-1 {
    margin-top: 1em;
}

#loader {
    animation: animate 1.5s linear infinite;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}

@keyframes animate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(220deg)
    }
}

#loader:after {
    animation: animate2 1.5s ease-in-out infinite;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
}

@keyframes animate2 {
    0% {
        box-shadow: inset #20c997 0 0 0 17px;
        transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #20c997 0 0 0 2px;
    }
    100% {
        box-shadow: inset #20c997 0 0 0 17px;
        transform: rotate(140deg);
    }
}

#login-form{
    padding: 10% 40%;
}

#register-form{
    padding: 10% 30%;
}

#preview-data {
    white-space: pre-wrap;
}

#preview-data pre{
    background-color: white;
    min-height: 10em;
}

#preview-data label{
    font-weight: bold;
}

.btn{
    border: 1px solid;
    padding: 0 5px;
    display: inline-block;
    background-color: lightgray;
    height: 25px;
    box-sizing: border-box;
}

.btn:hover {
    cursor: pointer;
}

a {
    color: blue;
    text-decoration: underline;
}

a.btn{
    padding-top: 2px;
}

.btn-group *:not(.bbcode){
    vertical-align: middle;
    text-align: justify;
    margin-right: 1em;
}

.btn-group{
    margin-top: 1em;
}

.rating-arrow{
    margin: 0 1em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.rating-arrow:hover {
    cursor: pointer;
}

.rating-up {
    transform: rotate(180deg);
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.post {
    margin-top: 3rem;
}

.loaderBody+.post {
    margin-top: initial;
}

.comment:not(:first-child) {
    margin-top: 3rem;
}

.post .card-body{
    max-height: 300px;
    overflow: hidden;
    position: relative;
    box-sizing: content-box;
    min-height: 200px;
}

.comment .card-body{
    box-sizing: content-box;
    min-height: 250px;
    white-space: pre-wrap;
}

.post .card-body .card-bottom {
    position: absolute; /* Если прыгает - можно попробовать sticky */
    bottom: 0;
    background: linear-gradient(
            to bottom,
            rgb(255 255 255 / 0%),
            rgb(255 255 255)90%);
    width: 100%;
    height: 60px;
    opacity: 1;
    transition: 0.3s;
}
[data-more-checker^="card-read-more"] {
    opacity: 0;
    position: absolute;
}
[data-more-checker^="card-read-more"]:checked ~ .card-body {
    max-height: none;
}
[data-more-checker^="card-read-more"]:checked ~ .card-body .card-bottom {
    opacity: 0;
    transition: 0.3s;
}
[data-more-checker^="card-read-more"] ~ .card-read-more-button:before  {
    content: "Развернуть »";
}
[data-more-checker^="card-read-more"]:checked ~ .card-read-more-button:before {
    content: "Свернуть «";
}
.card-read-more-button {
    cursor: pointer;
    display: inline-block;
    color: #777;
    text-decoration: underline;
}

.morePosts:hover{
    font-weight: bold;
    cursor: pointer;
}

.moreComments:hover{
    text-decoration: underline;
    cursor: pointer;
}


.row.post .post-left {
    position: relative;
}

.row.post .post-bottom {
    position: relative;
    bottom: -4em;
}

.row.comment .comment-left {
    position: relative;
}

.row.comment .comment-bottom {
    position: relative;
    bottom: -4em;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-items-stretch {
    align-items: stretch;
}

.align-self-start {
    align-self: flex-start;
}

.comment {
    margin-top: 2rem;
}

.hasComments + .comment {
    margin-top: initial;
}

.hasPosts + .post {
    margin-top: initial;
}

.hasComments {
    padding: 1em 0;
    font-weight: bold;
}

.hasPosts {
    padding: 1em 0;
    font-weight: bold;
}

.row.authors .card{
    min-height: 6em;
}

.row.authors .card-body{
    margin-top: 3em;
}

.row.authors{
    margin-bottom: 1em;
}

@media only screen and (max-device-width: 480px) {
    header {
        padding: 0 5%;
        color: darkgrey;
    }

    .section-body{
        padding: 0 0;
    }

    .row>.col-1{
        width: calc(100%/12*2);
        float: left;
        padding-right: 1em;
    }

    .row>.col-10{
        width: calc(100%/12*9);
        float: left;
    }

    .row .offset-6{
        padding-left: calc(100%/12*3);
    }

    .row>.col-2{
        width: calc(100%/12*7);
        float: left;
    }

    .row .offset-6{
        padding-left: calc(100%/12*1);
    }

    .row .offset-5{
        padding-left: calc(100%/12*2);
    }

    .row>.col-3{
        width: calc(100%/12*6);
        float: left;
    }
}