<header class="bg-light">
    <a id="logo" href="/">
        <img alt="logo" width="40px" height="32px" src="/assets/img/logo.svg">
    </a>
    <div class="profile-menu">
        {% if session.isAuthorized %}
            <a class="dropdown-toggle" href="#">{{ session.userName }}</a>
            <div class="flex-column d-flex dropdown-menu">
                <div><a href="/profile/">Профиль</a></div>
                <div>
                    <form method="post" action="/login/logout/">
                        <input type="hidden" name="token" value="{{ session.token??'' }}">
                        <button type="submit" class="logout-link asText">Выйти</button>
                    </form>
                </div>
            </div>
        {% else %}
            <a class="login-link clear-link" href="/login/">Войти</a>
        {% endif %}
    </div>
    <nav>
        <ul>
            <li {% if best %}class="active"{% endif %}>
                <a href="/?best">Лучшее</a>
            </li>
            <li {% if newest %}class="active"{% endif %}>
                <a href="/?newest">Свежее</a>
            </li>
            <li {% if authors %}class="active"{% endif %}>
                <a href="/authors/">Авторы</a>
            </li>
            {% if session.isAuthorized %}
                <li {% if newPost %}class="active"{% endif %}>
                    <a href="/?newPost">Новый пост</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    <div onclick="topFunction()" id="toTopBtn">
        <img width="20px" height="20px" src="/assets/img/up-arrow.svg" alt="В начало">
    </div>
</header>
