{% extends 'template.html' %}

{% block title %}
Пикомемсы - о проекте
{% endblock %}

{% block content %}
    <div class="container bg-light">
        <div class="row">
            <div class="col-12">Этот проект построен при использовании следующих технологий:
                <ul>
                    <li>TWIG+HTML+JS+JQUERY</li>
                    <li>PURE CSS</li>
                    <li>MVC BACKEND</li>
                    <li>PHPUNIT</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}