{% extends 'template.html' %}

{% block title %}
Пикомемсы - посты автора
{% endblock %}

{% block content %}
    <div class="container bg-light">
        <div class='row authors'>
            <!-- load author info -->
        </div>
        <div class="loaderBody bg-light">
            <div id="loader"></div>
        </div>
        <div class='clearfix'></div>
        <div class="row mt-2 hasPosts">
            <div class="col-12 fw-bold">Посты пользователя:</div>
        </div>
        <label class="morePosts">Еще...</label>
    </div>

    <script type="module">

        let authorId = "{{ authorId }}";

        let morePostsBtn = $(".morePosts");

        morePostsBtn.hide();

        $(".card-read-more-button").click(function (e) {
            if ($("#" + $(this).attr("for")).is(":not(:checked)")) {
                scrollIntoViewIfNeeded($(e.target));
            }
        });

        $(document).ready(function () {
            loadAuthorInfo(authorTemplate,authorId);
            loadAuthorsPostsData(postTemplate, authorId);
        });

        morePostsBtn.click(function () {
            loadAuthorsPostsData(postTemplate, authorId);
        });

        $('body').on('click','.rating-arrow', function () {
            let curPostId;

            if (typeof postId !== 'undefined')
            {
                curPostId = postId;
            }
            else
            {
                curPostId = $(this).closest(".row.post").find('.postId').val();
            }

            let like = true;
            if ($(this).hasClass('rating-down')){
                like = false;
            }

            let ratingField = $(this).closest('.row').find('.rating-count');

            let token ="{{ session.token??'' }}";

            ratePost(curPostId, like, ratingField, token);

            return false;
        });

        const postTemplate = (curIndex, postData)=>{
            return `<div class='row post d-flex'>
                        <input type='hidden' class='postId' value='${postData.id}'>
                        <div class='col-2 d-flex flex-column align-items-stretch'>
                            <div class='flex-grow-0 align-self-start'>Автор: <a href='/authors/${postData.authorId}/posts'>${postData.authorName}</a></div>
                            <div class='flex-grow-1 align-self-start pt-1'></div>
                            <div class='white-spaces-pre'>Дата публикации: \r\n${postData.created_at}</div>
                        </div>
                        <div class='col-9'>
                            <div class='container'>
                                <div class='row'>
                                    <div class='card'>
                                        <div class='card-title'>
                                            <div class='container-fluid'>
                                                <div class='row'>
                                                    <div class='col-9 fw-bold'>${postData.title}</div>
                                                    <div class='col-3'> Рейтинг: <img class='rating-arrow rating-down' src='/assets/img/down-arrow-red.svg'><span class='rating-count'>${postData.likes_count}</span><img class='rating-arrow rating-up' src='/assets/img/up-arrow-green.svg'></div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type='checkbox' data-more-checker='card-read-more-checker' id='card-read-more-checker-${curIndex}'/>
                                        <div class='card-body'>
                                            <p>${bbCodeDecode(postData.body)}</p>
                                            <div class='card-bottom'>
                                            </div>
                                        </div>
                                            <a href='/posts/${postData.id}/comments/'>${postData.comments_count_text}</a>
                                        <label for='card-read-more-checker-${curIndex}' class='card-read-more-button'></label>
                                    </div>
                                    <div class='clearfix'></div>
                                </div>
                            </div>
                        </div>
                    </div>`
        }

        const authorTemplate = (authorData)=>{
            return `<div class='row authors'>
                        <div class='col-2'>
                            <div class='container'><img class='avatar pt-1' src='${authorData.iconPath}' alt='Аватар автора'></div>
                        </div>
                        <div class='col-9'>
                            <div class='container'>
                                <div class='row'>
                                    <div class='card'>
                                        <div class='card-title'>
                                            <div class='container-fluid'>
                                                <div class='row'>
                                                    <div class='col-4 fw-bold'>${authorData.authorName}</div>
                                                    <div class='col-4 offset-4'>Дата регистрации: ${authorData.created_at}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='card-body'>
                                            <p> Количество постов автора: ${authorData.posts_count}
                                               <a href='/authors/${authorData.authorId}/posts'>Перейти</a></p>
                                        </div>
                                        <div class='card-bottom'></div>
                                    </div>
                                    <div class='clearfix'></div>
                                </div>
                            </div>
                        </div>
                    </div>`
        }

    </script>
{% endblock %}