{% extends 'template.html' %}

{% block title %}
Пикомемсы - комментарии к посту
{% endblock %}

{% block content %}
    <section class="section-body bg-light">
        <div class="container bg-light">
            <div class="loaderBody bg-light">
                <div id="loader"></div>
            </div>
            <div class='row post'>
                <!-- load post info -->
            </div>
            <div class='clearfix'></div>
            <div class="row mt-2 hasComments">
                <div class="col-12 fw-bold">Комментарии пользователей:</div>
            </div>
            <label class="moreComments">Еще...</label>
            {% if session.isAuthorized %}
                <div class="mt-2">
                    <form id='new-post-form' method="post" action="/comments/addCommentToPost">
                        <input type="hidden" name="token" value="{{ session.token??'' }}">
                        <input type="hidden" name="postId" value="{{ post['id'] }}">
                        <label for="comment" class="form-label">Добавить комментарий</label>
                        <div class="clearfix"></div>
                        {{ include ('layout/bbCodeBar.html', {textField: '#comment'}) }}
                        <textarea class="form-control" name="body" id="comment" placeholder="Текст комментария"
                                  required></textarea>
                        <div class="clearfix"></div>
                        <button class="btn btn-outline-primary mt-2" type="submit">Отправить</button>
                        {{ include ('layout/textPreview.html', {textField: '#comment'}) }}
                    </form>
                </div>
            {% else %}
                <span>Для добавления комментария необходимо </span><a class="login-link" href="/login/">авторизоваться</a>
            {% endif %}
        </div>
    </section>

    <script type="module">
        let postId = "{{ post['id'] }}";
        let curForm = $("#new-post-form");

        let moreCommentsBtn = $(".moreComments");
        moreCommentsBtn.hide();

        let hasComments = $(".hasComments");
        hasComments.hide();

        $(".card-read-more-button").click(function (e) {
            if ($("#" + $(this).attr("for")).is(":not(:checked)")) {
                scrollIntoViewIfNeeded($(e.target));
            }
        });

        $(document).ready(function () {
            loadPostInfo(postId);
            loadCommentsData(postId);
        });

        moreCommentsBtn.click(function () {
            loadCommentsData(postId);
        });

        curForm.validate({
            rules: {
                title: {required: true},
                body: {required: true},
            },
            messages: {
                title: "Введите тему поста",
                body: "Введите текст поста",
            }
        });

        curForm.submit(function (e){
            let form = $(this);

            e.preventDefault();

            if (form.valid())
            {
                $.post(form.attr('action'),form.serialize())
                    .then(result=>{
                        document.location.href = document.location.origin + "/posts/" + postId + "/comments";
                    });
            }
            return false;
        })

        $('body').on('click','.rating-arrow', function () {
            let curPostId;

            if (typeof postId !== 'undefined')
            {
                curPostId = postId;
            }
            else
            {
                curPostId = $(this).closest(".row.post").find('.postId').val();
            }

            let like = true;
            if ($(this).hasClass('rating-down')){
                like = false;
            }

            let ratingField = $(this).closest('.row').find('.rating-count');

            let token ="{{ session.token??'' }}";

            ratePost(curPostId, like, ratingField, token);

            return false;
        });

    </script>
{% endblock %}