{% extends 'template.html' %}

{% block title %}
Пикомемсы - комментарии к посту
{% endblock %}

{% block content %}
    <div class="container bg-light">
        <div class="loaderBody bg-light">
            <div id="loader"></div>
        </div>
        <div class='row post'>
            <!-- load post info -->
        </div>
        <div class='clearfix'></div>
        <div class="row mt-2 hasComments">
            <div class="col-12 fw-bold">Комментарии пользователей:</div>
        </div>
        <label class="moreComments">Еще...</label>
        {% if session.isAuthorized %}
            <div class="mt-2">
                <form id='new-post-form' method="post" action="/comments/addCommentToPost">
                    <input type="hidden" name="token" value="{{ session.token??'' }}">
                    <input type="hidden" name="postId" value="{{ post['id'] }}">
                    <label for="comment" class="form-label">Добавить комментарий</label>
                    <div class="clearfix"></div>
                    {{ include ('layout/bbCodeBar.html', {textField: '#comment'}) }}
                    <textarea class="form-control" name="body" id="comment" placeholder="Текст комментария"
                              required></textarea>
                    <div class="clearfix"></div>
                    <button class="btn btn-outline-primary mt-2" type="submit">Отправить</button>
                    {{ include ('layout/textPreview.html', {textField: '#comment'}) }}
                </form>
            </div>
        {% else %}
            <span>Для добавления комментария необходимо </span><a class="login-link" href="/login/">авторизоваться</a>
        {% endif %}
    </div>

    <script type="module">
        let postId = "{{ post['id'] }}";
        let curForm = $("#new-post-form");

        let moreCommentsBtn = $(".moreComments");
        moreCommentsBtn.hide();

        let hasComments = $(".hasComments");
        hasComments.hide();

        $(".card-read-more-button").click(function (e) {
            if ($("#" + $(this).attr("for")).is(":not(:checked)")) {
                scrollIntoViewIfNeeded($(e.target));
            }
        });

        $(document).ready(function () {
            loadPostInfo(postTemplate, postId);
            loadCommentsData(commentTemplate, postId);
        });

        moreCommentsBtn.click(function () {
            loadCommentsData(commentTemplate, postId);
        });

        curForm.validate({
            rules: {
                title: {required: true},
                body: {required: true},
            },
            messages: {
                title: "Введите тему поста",
                body: "Введите текст поста",
            }
        });

        curForm.submit(function (e){
            let form = $(this);

            e.preventDefault();

            if (form.valid())
            {
                $.post(form.attr('action'),form.serialize())
                    .then(result=>{
                        document.location.href = document.location.origin + "/posts/" + postId + "/comments";
                    });
            }
            return false;
        })

        $('body').on('click','.rating-arrow', function () {
            let curPostId;

            if (typeof postId !== 'undefined')
            {
                curPostId = postId;
            }
            else
            {
                curPostId = $(this).closest(".row.post").find('.postId').val();
            }

            let like = true;
            if ($(this).hasClass('rating-down')){
                like = false;
            }

            let ratingField = $(this).closest('.row').find('.rating-count');

            let token ="{{ session.token??'' }}";

            ratePost(curPostId, like, ratingField, token);

            return false;
        });

        const postTemplate = (curIndex, postData)=>{
            return `<div class='row post d-flex'>
                        <input type='hidden' class='postId' value='${postData.id}'>
                        <div class='col-2 d-flex flex-column align-items-stretch'>
                            <div class='flex-grow-0 align-self-start'>Автор: <a href='/authors/${postData.authorId}/posts'>${postData.authorName}</a></div>
                            <div class='flex-grow-1 align-self-start pt-1'><img class='avatar' src='${postData.iconPath}' alt='Аватар автора'></div>
                            <div class='white-spaces-pre'>Дата публикации: \r\n${postData.created_at}</div>
                        </div>
                        <div class='col-9'>
                            <div class='container'>
                                <div class='row'>
                                    <div class='card'>
                                        <div class='card-title'>
                                            <div class='container-fluid'>
                                                <div class='row'>
                                                    <div class='col-9 fw-bold'>${postData.title}</div>
                                                    <div class='col-3'> Рейтинг: <img class='rating-arrow rating-down' src='/assets/img/down-arrow-red.svg'><span class='rating-count'>${postData.likes_count}</span><img class='rating-arrow rating-up' src='/assets/img/up-arrow-green.svg'></div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type='checkbox' data-more-checker='card-read-more-checker' id='card-read-more-checker-${curIndex}'/>
                                        <div class='card-body'>
                                            <p>${bbCodeDecode(postData.body)}</p>
                                            <div class='card-bottom'>
                                            </div>
                                        </div>
                                            <a href='/posts/${postData.id}/comments/'>${postData.comments_count_text}</a>
                                        <label for='card-read-more-checker-${curIndex}' class='card-read-more-button'></label>
                                    </div>
                                    <div class='clearfix'></div>
                                </div>
                            </div>
                        </div>
                    </div>`
        }

        const commentTemplate = (curIndex, commentData)=>{
            return `<div class='row comment d-flex'>
                        <div class='col-2 d-flex flex-column align-items-stretch'>
                            <div class='flex-grow-0 align-self-start'>№${curIndex}    Автор: <a href='/authors/${commentData.authorId}/posts'>${commentData.authorName}</a></div>
                            <div class='flex-grow-1 align-self-start pt-1'><img class='avatar' src='${commentData.iconPath}' alt='Аватар автора'></div>
                            <div class='white-spaces-pre'>Дата комментария: \r\n${commentData.created_at}</div>
                        </div>
                        <div class='col-9'>
                            <div class='container'>
                                <div class='row'>
                                    <div class='card'>
                                        <input type='checkbox' checked data-more-checker='card-read-more-checker' id='card-read-more-checker-${curIndex}'/>
                                        <div class='card-body'>
                                            <p>${bbCodeDecode(commentData.body)}</p>
                                            <div class='card-bottom'>
                                            </div>
                                       </div>
                                    </div>
                                    <div class='clearfix'></div>
                               </div>
                            </div>
                        </div>
                    </div>`
        }

    </script>
{% endblock %}