{% extends 'template.html' %}

{% block title %}
Пикомемсы - авторизация
{% endblock %}

{% block content %}
    <div class="container bg-light">
        <form method="post" id="login-form">
            <input type="hidden" name="token" value="{{ session.token??'' }}">
            <label for="username" class="form-label">Логин</label>
            <input class="form-control" name="username" type="text" id="username" placeholder="Введите логин" required>
            <div class="clearfix"></div>
            <label for="password" class="form-label">Пароль</label>
            <input class="form-control" name="password" type="password" id="password" placeholder="Введите пароль"
                   required>
            <div class="clearfix"></div>
            <div class="btn-group">
                <button class='btn btn-primary mt-2' type="submit">Войти</button>
                <a href="/login/register/" class='btn btn-primary mt-2'>Зарегистрироваться</a>
            </div>
            {% if error%}
                <span class="error-msg">{{ error }}</span>
            {% endif %}
        </form>
    </div>

    <script>
        $("#username").keydown(function (e) {
            if (!e.key.match(/\w/gi)) {
                return false;
            }
        });

        $("#password").keydown(function (e) {
            if (!e.key.match(/\w/gi)) {
                return false;
            }
        });
    </script>
{% endblock %}