<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Пикомемсы - ваш сайт развлечений{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <script type="module" src="/assets/js/app.js"></script>
    <script src="/assets/js/jquery-3.6.1.js"></script>
    <script src="/assets/js/jquery.validate.js"></script>
    <link rel="icon" href="/assets/img/logo.svg">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="d-flex flex-column">
    {{ include('layout/header.html') }}

    <section class="section-body bg-light section-middle flex-grow-1">
        {% block content %}
        {% endblock %}
    </section>
    {{ include('layout/footer.html') }}
</body>
</html>